// FontAwesome.
$fa-font-path: "../webfonts/";
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss';

// Bootstrap.
@import "../../node_modules/bootstrap/scss/bootstrap";

// Quick Menu.
@import "../../node_modules/quickmenu/src/scss/quickmenu";

// Use 'Open Sans' font.
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');


html, body { font-family: 'Open Sans', sans-serif; }
a { text-decoration: none; }

.header { padding: 20px 10px;
    nav { i { font-size: 1.4em; } }
}

.quick-menu .menu-heading .qm-icon { font-size: 1.4em; }
